@model Customer.Web.ViewModels.OrderViewModel

    <h1>Order @Html.DisplayFor(model => model.OrderId)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Order
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Subtotal
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderedItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @{double subtotal = item.Price * item.Quantity;}
                    @subtotal
                </td>
                <td>
                    @if(item.hasReviewed == false)
                    {
                        <a asp-controller="Review" asp-action="Create" asp-route-ProductId="@item.ProductId" asp-route-ProductName="@item.ProductName">Review</a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <b>Total</b>
            </td>
            <td>
                <b>@Model.TotalPrice</b>
            </td>
        </tr>
    </tfoot>
</table>
<div>
    <a asp-action="History">Back to History</a>
</div>
